
.cards{
   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 13px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-left:-33px;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-fundo);
    
}

.container{
    position: relative;
    background-color: rgb(249, 205, 205);
    width: 450px;
    height:350px;
    border-radius: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.card-contato{
   
    position: relative;
    display: flex;
  
    opacity: 0;
    
    align-items: center;
    justify-content: center;
    transform: translateY(12%);
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.card-contato ul{
    color: rgb(0, 1, 1);
    list-style: none;
    width: 80%;
    height: 43%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 30px;
    
    margin-bottom: 62px;
}

.card-contato ul li{
    
    display: flex;
    justify-content: space-between;
    
}

@media screen and (max-width: 768px) {
    .card-contato ul{
    
      font-size: 25px;
  
    }
}
@media screen and (max-width: 468px) {
   
    .email{
      font-size: 20px;
      
    }
}
@media screen and (min-width: 768px) {
    
    .email{
      font-size: 29px;
      
    }
}

.card-nome{
    position: absolute;
    background: linear-gradient(90deg, #6D7AFF, #6cd5ff);
    box-shadow: inset 50px 50px 500px #FFFFFF30;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 99%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    top: 3px;
    transition: all 0.6s ease-in;
    

   
}


.card-nome-icon{
    position: relative;
    
   background-image: url("../../assets/robervan.jpeg");
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
    color: #6D7AFF;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90px;
    transition: all 0.5s;
}

.container:hover .card-nome-icon{
     width: 120px;
    height: 120px;
    border-radius: 50%;
}
.card-nome h3{
   position: relative;
   color: rgb(213, 223, 213);
   font-size: 27px;
   font-weight: 500;
   letter-spacing: 3px;
   transition: all 0.5;

}
@media screen and (max-width:768px) {
    .card-nome h3{
        margin-left: 23px;
    }
    .container {
  margin-top: 3rem;
}}
@media screen and (max-width:408px) {
    .card-nome h3{
        margin-left: 23px;
    }
    .container {
  margin-top: 9rem;

}
}
.card-nome h3::first-letter {
    color: #84e566;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 400;
   
  }
.card-link{
    position: absolute;
    background: linear-gradient(90deg, #6D7AFF, #6cd5ff);
    width: 99%;
    height: 25%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    bottom: 3px;
    box-shadow: inset 50px 50px 400px #FFFFFF30;
    transition: all 500ms;
    overflow: hidden;

}
.card-link ul{
    
    position: relative;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 40px;
    height: 100%;
    transform: translateY(100%);
    transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


.container:hover .card-contato{
    width: 100%;
    height: 100%;
    opacity: 1;
    flex-wrap: wrap;
    margin-left: -33px;

   

}
.container:hover .card-nome {
   
    transform: translateY(-38%);
    border-radius: 20px;
    height: 55%;
    z-index: 99;
}
.container:hover .card-link{
    transform: translateY(0%);
    border-radius: 20px;
}
.container:hover .card-link ul {
    transform: translateY(0%);
}

//1 animação para ficar escrevendo o email

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes remove-bar {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.container:hover .icone-contato .email {
  overflow: hidden;
  display: flex;
  position: relative;
   animation: typing 6s forwards;
  white-space: nowrap;
  box-sizing: border-box;
  background-color: #b7ced7;
}

.container:hover .icone-contato .email::after {
  content: '|';
  position: absolute;
  right: 0;
  width: 1px;
  height: 100%;
 

}

@keyframes blink {
  from, to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.container:hover  .icone-contato .email:hover::after {
  animation: none;
}

// 5 estilização linkedin
.contato-linkedin{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding: 2px 5px;
  
  width: 45px;
  height: 45px;
  border-radius: 50%;
  
  margin: 1.25rem 0;
  
  transition: all 0.3s ease-in-out;

  a{
    align-items: center;
    display: flex;
    justify-content: center;
 
  }
  svg {
    width: 50px;
    height: 50px;
    color: blue;
    z-index: 9;
    border-radius: 12px;
  }

  &:hover {
    font-size: 3rem;
    transform: scale(0.75);
    z-index: 10000;
    filter: drop-shadow(0 0 20px blue)drop-shadow(0 0 40px blue)drop-shadow(0 0 60px blue);
    align-items: center;
    justify-content: center;
    display: flex;
    
    svg {
      color: rgb(11, 11, 177);
     
    }
  }

  &::before{
    content: "";
    position: absolute;
    inset: 20px;
    box-shadow: 0 0 0 10px rgb(81, 255, 0), 
    0 0 0 16px rgb(241, 231, 241), 
    0 0 0 18px blue; 
    transition: 0.5s;
   

      
  }
  &:hover::before{
    inset: 0;
    
  }

  a::after{
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgb(241, 231, 241);
    transform: rotate(45deg);
    border-radius: 2px;
  }

  @media screen and (min-width: 2000px) {
    width: 70px;
    height: 70px;

    margin: 0.5rem 0;

    svg {
      width: 30px;
      height: 30px;
    }
  }
}


// 5 estilização whatsap
.contato-whatsap{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(247, 233, 233);
  border: 2px solid rgb(50,205,50);
}
.contato-whatsap:hover {
filter: drop-shadow(0 0 20px green)drop-shadow(0 0 40px green)drop-shadow(0 0 60px green);
}
.contato-whatsap:hover .icone-whatsap a{
  color: rgb(50,205,50);
  font-size: 45px;
  font-weight: bold;
border: none;
    align-items: center;
  padding: 5px;

  animation: explode 0.5s linear infinite;
  border-radius: 50%;
@keyframes explode {
  0% {
    transform: scale(0);
    opacity: 1;
    box-shadow: 0px 0px 0px 0px rgb(50,205,50);
   
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
    box-shadow: 0px 0px 10px 20px rgb(50,205,50);
   
  }
}
}
.icone-whatsap a{
  color: green;
}

// 5 estilização github
.contato-github {
  width: 70px;
  height: 70px;
  align-items: center;
  justify-content: center;
  display: flex;
   border: 4px solid rgb(10, 9, 9);
  background-color: rgb(243, 237, 237);
 
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.icone-github{
  
  color: black;
}
.contato-github:hover{
border-radius: 50%;
  transition: all 0.2s ease-in-out;
 
   animation: pulse 2s infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
    
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

// 5 estilização youtube
.contato-youtube {
  position: relative;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0eaea; /* cor de fundo do ícone */
  border-radius: 25%;
  overflow: hidden;
  cursor: pointer;
  border: 4px solid red;
}

.youtube-icone {
  align-items: center;
  justify-content: center;
  display: flex;
  color: red; /* cor do ícone */
  font-size: 44px;
}
.youtube-icone:hover {
  animation: rotate 5s linear infinite;
   border: 1px solid rgb(10, 9, 9);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(60deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(180deg);
  }
  80% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// 5 inicio de card de compartilhar

.compartilhar-icones{
  position: relative;
    background-color: rgb(105, 95, 95);
    width: 450px;
    height:350px;
    border-radius: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    

}
.compartilhar-links {
  position: relative;
  width: 120px;
  height: 120px;
  background-color: #d1d6cf;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid black;
  cursor: pointer;
  color: black;
  font-size: 3rem;
  transition: 1.25s;
   animation: pisca 3s ease-in-out infinite;
     filter: drop-shadow(0 0 5px rgb(41, 239, 15)) drop-shadow(0 0 5px rgb(48, 240, 31)) drop-shadow(0 0 5px rgb(166, 255, 0));
}


@keyframes pisca {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}


.compartilhar-icones.active .compartilhar-links {
    transform: rotate(360deg);
   
    background-color: rgb(11, 133, 26);
    animation: text-shadow 5s infinite;
    box-shadow:    0 0 0 2px rgb(245, 242, 242), 0 0 0 8px blue;
}
@keyframes text-shadow {
  0% {
    filter: drop-shadow(0 0 2px rgb(203, 56, 151)) drop-shadow(0 0 2px rgb(99, 99, 234)) drop-shadow(0 0 2px rgb(10, 10, 94));
  }
  50% {
    filter: drop-shadow(0 0 10px rgb(168, 108, 108)) drop-shadow(0 0 10px rgb(115, 104, 104)) drop-shadow(0 0 10px rgb(138, 76, 76));
  }
  100% {
    filter: drop-shadow(0 0 20px rgb(28, 43, 28)) drop-shadow(0 0 20px rgb(126, 90, 29)) drop-shadow(0 0 20px rgb(20, 41, 20));
  }
}

.compartilhar-icones li {
  
  position: absolute;
  left: 32px;
  list-style: none;
  transition: 0.5s;
  transform:  rotate(calc(360deg/5 * var(--i)));
  transform-origin: 140px;
  scale: 0;
  transition-delay: calc(0.2s * var(--i));
}
@media screen and (max-width:600px) {
   .compartilhar-icones li{
    margin-left: 0px;
   }
   .cards{
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-left: -24px;
   }
}
@media screen and (max-width:512px) {
  
   .cards{
    box-sizing: border-box;
    margin-left: -44px;
   }
}
@media screen and (max-width:512px) {
  
   .cards{
    box-sizing: border-box;
    margin-left: -4px;
    
   }
}

.compartilhar-icones li a {
  position: relative;
  display: flex;
  
}

.compartilhar-icones.active li {
  scale: 1;
  margin-left: 54px;
  display: flex;
   
}
.compartilhar-icones li a {
  position: relative;
  display: flex;
  transform: rotate(calc(360deg/-5 * var(--i)));
  font-size: 2.5rem;
  height: 60px;
  width: 60px;
  background-color: white;
  border:  2px solid black;
  margin-left: -23px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  gap: 13px;
}
@media screen and (max-width:512px) {
   .compartilhar-icones.active li  {
    margin-left: -12px;
  
   }
   
   .compartilhar-icones.active li a {
     margin-left: -15px;
      height: 60px;
      width: 60px;
      font-size: 2.5rem;
      display: flex;
      box-sizing: border-box;
   }
   
}
@media screen and (max-width:385px) {
   .compartilhar-icones.active li  {
    margin-left: -19px;
   
   }
   
   .compartilhar-icones.active li a {
     margin-left: 8px;
      height: 40px;
      width: 40px;
      font-size: 1.5rem;
      display: flex;
   }
   
}
@media screen and (max-width:375px) {
   .compartilhar-icones.active li  {
    margin-left: -29px;
   
   }
   
   .compartilhar-icones.active li a {
     margin-left: 8px;
      height: 40px;
      width: 40px;
      font-size: 1.5rem;
      display: flex;
   }
   
}
@media screen and (max-width:335px) {
   .compartilhar-icones.active li  {
    margin-left: -49px;
   
   }
   
   .compartilhar-icones.active li a {
     margin-left: 18px;
      height: 40px;
      width: 40px;
      font-size: 1.5rem;
      display: flex;
   }
   
}

.email{
  cursor: pointer;
}