.container-mensagem{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
    background-color: blueviolet;

}


.mensagem-formulario{
  align-items: center;
  justify-content: center;flex-direction: column;
  background-color: rgb(86, 53, 53);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  width: 390px;
  height: 390px;
}
.messagem-usuario{
  width: 174px;
  height: 94px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}


.estrelas input[type=radio] {
  display: none;
  cursor: pointer;
}
.estrelas label i.fa{
  font-size: 2.5em
}
.estrelas label i.fa:before {
  content:'\f005';
  color: #FC0;
}
.estrelas input[type=radio]:checked ~ label i.fa:before {
  color: #CCC;
  cursor: pointer;
}