

.app__whitebg {
  background-color: var(--white-color);
}

.app__primarybg {
  background-color: var(--primary-color);
}

.app__container {
  width: 100%;
  min-height: 100vh;
  padding:7px;
  gap: 12px;
  display: flex;
  flex-direction: row;
 
}

.app__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__wrapper {
  flex: 1;
  width: 100%;
  flex-direction: column;
  padding: 4rem 2rem;

  @media screen and (max-width: 450px) {
    padding: 4rem 1rem 2rem;
  }
}

.copyright {
  width: 100%;
  padding: 2rem 0 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;

  p {
    text-transform: uppercase;
    color: var(--black-color);
  }
}

.head-text {
  font-size: 2.75rem;
  font-weight: 800;
  text-align: center;
  color: var(--black-color);
  text-transform: capitalize;

  span {
    color: var(--secondary-color);
  }

  @media screen and (min-width: 2000px) {
    font-size: 4rem;
  }

  @media screen and (max-width: 450px) {
    font-size: 2rem;
  }
}

.p-text {
  font-size: 0.8rem;
  text-align: left;
  color: var(--gray-color);
  line-height: 1.5;

  @media screen and (min-width: 2000px) {
    font-size: 1.75rem;
  }
}

.bold-text {
  font-size: 1rem;
  font-weight: 800;
  color: var(--black-color);
  text-align: left;

  @media screen and (min-width: 2000px) {
    font-size: 2rem;
  }

  @media screen and (max-width: 450px) {
    font-size: 0.9rem;
  }
}

.app__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  padding: 1rem;
  width: 33px;

  .app__navigation-dot {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #cbcbcb;
    margin: 0.5rem;

    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: var(--secondary-color);
    }

    @media screen and (min-width: 2000px) {
      width: 20px;
      height: 20px;
    }
  }
}

@media screen and (max-width: 500px) {
  .app__navigation,
  .app__social {
    display: none;
  }

  .copyright {
    padding: 2rem;
  }
}

.v1{
  background-color: rgb(169, 164, 164);

}
.bolas{
 margin-top: -5rem;
 margin-bottom: 2rem;
  margin-left: 234px;
    display: flex;
    flex-wrap: wrap;
   
}
.bolas span{
  
    flex-wrap: wrap;
    width: 30px;
    height: 30px;
    background: rgb(0, 255, 4);
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 2px #fafbfc77,
    0 0 20px  rgb(0, 255, 4),
    0 0 40px  rgb(0, 255, 4),
    0 0 60px  rgb(0, 255, 4),
    0 0 80px  rgb(0, 255, 4),
    0 0 80px  rgb(0, 255, 4);
    transform: rotate(calc(18deg * var(--i)));
    animation: bolas 5s linear infinite;
    animation-duration: calc(3s / var(--i));
    animation: bola 2s linear infinite;;
}
@keyframes bola {
  0%{
    filter: hue-rotate(0deg);
  }
  
  100%{
    filter: hue-rotate(360deg);
  }
  
}



@keyframes bolas {
    0%{
        transform: translateY(100vh) scale(1);
    }
   
   
    100%{
        transform: translateY(100vh) scale(0);
    }
}

.app-home .quadrado {
  width: 40px;
  height: 40px;

  margin-bottom: 13px;
 background-color: #385f8f ;
  transform: rotate(45deg) scale(0.7);
  animation: rodaryoutube 21s linear infinite;
 @media screen and (max-width: 400px) {
  margin-top: 42px;
  width: 30px;
  height: 30px;
  margin-left: 12px;
  margin-bottom: 35px;
  margin-left: 69px;
 }
}
@keyframes rodaryoutube {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
.square {
  width: 100px;
  height: 100px;
  margin-left: 42px;
  margin-top: 12px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.square {
  position: relative;
  width: 100px;
  height: 100px;
  align-items: end;
}

.square::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transform: rotate(45deg);
 

   animation: rodaryoutube 7s linear infinite;
 
}
@keyframes animates {
  0% {
    transform: translateY(120px) rotate(0deg);
    filter: hue-rotate(0deg);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(120px) rotate(360deg);
    filter: hue-rotate(360deg);
  }
}








.app-sobre{

 background-color: var(--cor-fundo);
padding: 8px 22px;

@media screen and (max-width: 767px) {
  @keyframes bolas {
    0% {
      transform: translateY(1553px) rotate(0deg);
      filter: hue-rotate(0deg);
    }
    50% {
      transform: translateY(3px);
    }
    100% {
      transform: translateY(1553px) rotate(360deg);
      filter: hue-rotate(360deg);
    }
  }
}

/* estilos para telas maiores */
@media screen and (min-width: 768px) {
  @keyframes bolas {
    0% {
      transform: translateY(549px) rotate(0deg);
      filter: hue-rotate(0deg);
    }
    50% {
      transform: translateY(3px);
    }
    100% {
      transform: translateY(549px) rotate(360deg);
      filter: hue-rotate(360deg);
    }
  }
}
}


.bolas1{
    display: flex;
    flex-wrap: wrap;    
    z-index: 0;
    flex-wrap: wrap;
   
}
.bolas1 p{
    
    flex-wrap: wrap;
    width: 10px;
    height: 10px;
    background: rgb(0, 255, 4);
    margin: 0 15px;
    border-radius: 50%;
    box-shadow: 0 0 0 2px #fafbfc77;
    animation: bolas 85s linear infinite;
    
    animation-duration: calc(723s / var(--i));
   


}
.app-experiencia{
  background-color: var(--cor-fundo);
  padding: 3rem 2rem;
  align-items: center;
  display: flex;
  justify-content: center;

}